.inputField {
    width: 400px;
    height: 30px;
    text-align: center;
    background-image: linear-gradient(to right, rgb(62, 89, 175), rgb(107, 190, 107), rgb(199, 81, 100));
    font-size: 20px;
    border-radius: 30%;
}

::placeholder {
    color: black;
    font-size: 20px;
}

.form {
    text-align: center;
    margin-top: 300px;
}

.searchButton {
    margin-top: 30px;
    width: 250px;
    height: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
}

.greeting {
    color: white;
    font-size: 20px;
}

.results {
    margin: auto;
    text-align: center;
    background-color: rgb(209, 205, 205);
    width: 300px;
}

.falseCharacter {
    margin-top: 10px;
    text-align: center;
}